<h2>Recently Added Beers!</h2>
<div>
    <% beers.forEach(beer => {  %> 
            <a href="/beers/<%= beer.id %>">
                <img height="150" width="100" src="<%= beer.imagePath %> ">
            </a>
    <% }) %>
</div>