<h2 class="page-header">New Beer</h2>
<form action="/beers" method="post" enctype="multipart/form-data">
    <%- include('_form_fields.ejs') %>
    <div class="form-row btn-row form-row-end">
        <a class="btn btn-scary" href="/beers">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>